.header img{
	height: 80px;
}

.menu {
	line-height: 40px;
	background-color: black;
}

.menu a{
	text-description: none;
	color: white;
	margin-right: 20px;
	padding: 10px;
}

.meanu a:hover{
	background-color: lightgray;
}
